@model cbsStudents.Models.Entities.EventIndexVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Description</th>
            <th>RoomId</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Room.Location
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}

<div>
    

</div>

    </tbody>
</table>
